


@media (max-width:1280px) {

  .form-control {
    font-size: 30px;
  }


  .a1280 {
    font-size: 25px;
  }


  .b1280 {
    font-size: 25px;
  }


  .c1280 {
    font-size: 25px;
  }


  .bu1280{
    font-size: 20px;
  }


  .t1280{
    font-size: 30px;
  }

  .m1280{
    font-size: 25px;
  }

}









@media (max-width:1440px) {

  .form-control {
    font-size: 30px;
  }


  .a1440 {
    font-size: 28px;
  }


  .b1440 {
    font-size: 28px;
  }


  .c1440 {
    font-size: 28px;
  }


  .bu1440{
    font-size: 25px;
  }


  .t1440{
    font-size: 40px;
  }

  .m1440{
    font-size: 35px;
  }


  .h1440{
    font-size: 40px;
  }

}











@media (min-width:1920px) {

  .form-control {
    font-size: 40px;
  }


  .a1920 {
    font-size: 32px;
  }


  .b1920 {
    font-size: 32px;
  }


  .c1920 {
    font-size: 32px;
  }


  .bu1920{
    font-size: 30px;
  }


  .t1920{
    font-size: 50px;
  }

  .m1920{
    font-size: 45px;
  }


  .h1920{
    font-size: 60px;
  }

}